{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar_Heberge.html.twig' %}

{% block title %}
 <title>Hebegement Roubaix</title>
    {% endblock %}

{% block body %}
<main id="main" class="main">
  {% for consigne in consignes %} 
    {% if consigne.nom == "Bandeau" and consigne.texte != "" %}
      <div id="bandeau">
        <marquee scrollamount="15">
          <p class="scroll-text">{{consigne.texte}}</p>
        </marquee>
      </div>
    {% endif %}
  {% endfor %}
    
    <div class="pagetitle">
      <h1>Accueil</h1>
    </div><!-- End Page Title -->

    
      <div class="d-flex justify-content-center my-3 fs-1">Bonjour {{utilisateur.prenom}}</div> 
      <div class="d-flex justify-content-center mb-5 fs-3">Votre chambre est la {{bail.numeroChambre.numeroChambre}}</div>

      <section class="section">
        <div class="row align-items-top">

        {% for consigne in consignes %} 
          {% if consigne.nom == "Consigne de Sécurité" %}
            <div class="col-lg-20 mb-3 mx-auto">
              <div class="card mb-3 h-100 w-100">
                <div class="row g-0">
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">{{consigne.nom}}</h5>
                        <p class="card-text " align="justify">{{consigne.texte}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card with an image on left -->
          {% elseif consigne.nom != "Consigne de Sécurité" and consigne.nom != "Bandeau" %}
            <div class="col-lg-6 mb-3">
              <div class="card mb-5 h-100 ">
                <div class="row g-0">
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">{{consigne.nom}}</h5>
                      <p class="card-text" align="justify">{{consigne.texte}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card with an image on left -->
          {% endif %}
        {% endfor %}
          

          

          
          </main>
{% endblock %}