{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar.html.twig' %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('dataTable') }}
{% endblock %}


{% block body %}
    <main id="main" class="main mt-3">

        {# <div class="modal fade" id="modal_ajouter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un hébergé</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}
                {{form_row(form.login.numeroBeneficiaire)}}
                {{form_row(form.login.role)}}
                {{form_row(form.user.nom)}}
                {{form_row(form.user.prenom)}}
                {{form_row(form.user.adressePostale)}}
                {{form_row(form.user.telephone)}}
                {{form_row(form.user.mail)}}
                {{form_row(form.user.dateNaissance)}}
                {{form_row(form.user.badge)}}
                {{form_row(form.user.lieuNaissance)}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            {{form_row(form.submit)}}
            {{ form_end(form) }}
        </div>
        </div>
    </div>
</div> #}

        <div class="container my-5 d-flex flex-wrap justify-content-center" id="hebergeContainer">
            <div class="table-responsive mt-2">
                <div class="table-title">
                    <div class="row mb-5 mx-auto d-flex flex-wrap justify-content-center">
                        <div class="col-sm-8 title"><h1>Tous les hébergés</h1></div>
                    </div>
                </div>
                <div class="table-wrapper justify-content-center d-flex flex-wrap">
                    <table id="dataTable" class="table table-striped justify-content-center flex-wrap mt-5">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Numéro de badge</th>
                            <th>Numéro de bénéficiaire</th>
                            <th>Téléphone</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for personne in personnes %}
                            <tr>
                                <td>{{ personne.idPersonne }}</td>
                                <td>{{ personne.nom }}</td>
                                <td>{{ personne.prenom }}</td>
                                <td>{{ personne.badge }}</td>
                                <td>{{ personne.numeroBeneficiaire }}</td>
                                <td>{{ personne.telephone }}</td>
                                <td>
                                    <a href="{# {{ path('app_personne_show', {'id': personne.idPersonne}) }} #}"
                                       class="view" title="Voir" data-toggle="tooltip"><i
                                                class="material-icons viewIcon">&#xE417;</i></a>
                                    <a href="{# {{ path('app_personne_edit', {'id': personne.idPersonne}) }} #}"
                                       class="edit" title="Editer" data-toggle="tooltip"><i
                                                class="material-icons editIcon">&#xE254;</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.1/i18n/fr-FR.json"
                }
            });
        });
    </script>

    {% block javascripts %}
        {{ encore_entry_script_tags('dataTable') }}
    {% endblock %}

{% endblock %}

