{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar.html.twig' %}


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

{% block stylesheets %}
    {{ encore_entry_link_tags('dataTable') }}
{% endblock %}

{% block body %}
    <main id="main" class="main mt-3">
        <div class="container my-5 d-flex flex-wrap justify-content-center" id="hebergeContainer">
            <div class="d-flex flex-column mt-2 mb-5">
                <h1>Hébergés ayant un bail</h1>
            </div>

            <!-- barre de filtre -->
            <div class="container mt-5" id="filtre">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li class="me-4"><input class="form-check-input me-1" type="checkbox" value=""
                                                    id="flexCheckDefault">Présent cette semaine
                            </li>
                            <li class="me-4"><input class="form-check-input me-1" type="checkbox" value=""
                                                    id="flexCheckDefault">Présent ce mois
                            </li>
                            <li class="me-4"><input class="form-check-input me-1" type="checkbox" value=""
                                                    id="flexCheckDefault">Présent cette année
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4">
                        <select class="form-select">
                            <option selected>Choisir un financeur</option>
                            <option value="1">Tous</option>
                            <option value="2">Exemple 1</option>
                            <option value="3">Exemple 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="table-wrapper justify-content-center mx-4">
                <table id="dataTable" class="table table-striped justify-content-center">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Numéro de badge</th>
                        <th>Numéro de bénéficiaire</th>
                        <th>Téléphone</th>
                        <th class="d-flex justify-content-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bail in bails %}
                        <tr>
                            <td>{{ bail.idPersonne }}</td>
                            <td>{{ bail.idPersonne.nom }}</td>
                            <td>{{ bail.idPersonne.prenom }}</td>
                            <td>{{ bail.idPersonne.badge }}</td>
                            <td>{{ bail.idPersonne.numeroBeneficiaire }}</td>
                            <td>{{ bail.idPersonne.telephone }}</td>
                            <td class="eyeIcon">
                                <a href="{{ path('app_personne_show', { 'id': bail.idPersonne.idPersonne }) }}"
                                   class="view" title="Voir"
                                   data-toggle="tooltip">
                                    <i class="material-icons viewIcon">&#xE417;</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.1/i18n/fr-FR.json"
                }
            });
        });
    </script>

    {% block javascripts %}
        {{ encore_entry_script_tags('dataTable') }}
    {% endblock %}

{% endblock %}
