{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar.html.twig' %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>

{% block stylesheets %}
    {{ encore_entry_link_tags('dataTable') }}
{% endblock %}


{% block body %}
    <main id="main" class="main mt-5">
        <div class="container my-5 d-flex flex-wrap justify-content-center" id="hebergeContainer">
            <div class="d-flex">
                <h1 class="me-4">Tous les hébergés</h1>
                <a href="#" data-bs-toggle="modal"
                   data-bs-target="#modal_ajouter">
                    <h1><i class="bi bi-person-plus iconAdd"></i></h1>
                </a>
            </div>
        </div>
        <div>
            <div class="table-wrapper justify-content-center mx-4">
                <table id="dataTable" class="table table-striped justify-content-center">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Numéro de badge</th>
                        <th>Numéro de bénéficiaire</th>
                        <th>Téléphone</th>
                        <th>E-mail</th>
                        <th class="d-flex justify-content-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for personne in personnes %}
                        <tr>
                            <td>{{ personne.nom }}</td>
                            <td>{{ personne.prenom }}</td>
                            <td>{{ personne.badge }}</td>
                            <td>{{ personne.numeroBeneficiaire }}</td>
                            <td>{{ personne.telephone }}</td>
                            <td>{{ personne.mail }}</td>
                            <td class="eyeIcon">
                                <a href="#"
                                   class="view" title="Voir"
                                   data-show
                                   data-id="{{ personne.idPersonne }}"
                                   data-toggle="tooltip">
                                    <i class="material-icons viewIcon">&#xE417;</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- modale d'ajout personne  -->
    {% include "shared/_modalAjoutPersonne.html.twig" %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

    <script>
        var exportColumns = {columns: [ 0, 1, 2, 3, 4, 5]};
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.1/i18n/fr-FR.json"
                },

                // Default number of rows per page
                "pageLength": 50,

                // Export buttons
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        text: '<i class="bi bi-printer exportIcons"><span class="exportTitle"> Imprimer</span></i>',
                        exportOptions: exportColumns,
                        className: 'btn btn-outline-success exportButton'
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="bi bi-file-earmark-excel-fill exportIcons"><span class="exportTitle"> Excel</span></i>',
                        exportOptions: exportColumns,
                        className: 'btn btn-outline-success exportButton'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="bi bi-file-earmark-pdf-fill exportIcons"><span class="exportTitle"> Pdf</span></i>',
                        exportOptions: exportColumns,
                        className: 'btn btn-outline-success exportButton'
                    }
                ],
            });
        });
    </script>

    {% block javascripts %}
        {{ encore_entry_script_tags('dataTable') }}
    {% endblock %}
{% endblock %}


