{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar.html.twig' %}
{% block title %}Mon espaces{% endblock %}

{% block body %}
<main id="main" class="main">
{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

{{ form_start(form2) }}

    <div class="row mb-3">
        <label for="Email" class="col-md-4 col-lg-3 col-form-label">{{form_label(form2.oldMdpEmp)}}</label>
        <div class="col-md-8 col-lg-9">
        {{form_widget(form2.oldMdpEmp)}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Email" class="col-md-4 col-lg-3 col-form-label">{{form_label(form2.mdpEmp.first)}}</label>
        <div class="col-md-8 col-lg-9">
        {{form_widget(form2.mdpEmp.first)}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Email" class="col-md-4 col-lg-3 col-form-label">{{form_label(form2.mdpEmp.second)}}</label>
        <div class="col-md-8 col-lg-9">
        {{form_widget(form2.mdpEmp.second)}}
        </div>
    </div>

    {{ form_end(form2) }}


</main>
{% endblock %}