{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar.html.twig' %}



{% block title %}Chambre index{% endblock %}

{% block body %}
    <h1>Chambre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NumeroChambre</th>
                <th>NumeroClefs</th>
                <th>Condamne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.numeroChambre }}</td>
                <td>{{ chambre.numeroClefs }}</td>
                <td>{{ chambre.condamne ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_chambre_show', {'numeroChambre': chambre.numeroChambre}) }}">show</a>
                    <a href="{{ path('app_chambre_edit', {'numeroChambre': chambre.numeroChambre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chambre_new') }}">Create new</a>
{% endblock %}
