{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar.html.twig' %}



{% block title %}Chambre index{% endblock %}

{% block body %}
<main id="main" class="main">
    <div class="container"  id="chambreContainer">
        <div class="row">
            <div class="col-lg-3">
        <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header bg-success text-white">Chambres libre</div>
                    <div class="card-body">
                        <h5  class="card-title">10</h5>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
            <div class="col-lg-3">
    <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header bg-danger text-white">Chambres occupées</div>
                    <div class="card-body">
                        <h5 class="card-title">45</h5>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
            <div class="col-lg-3">
        <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header bg-warning text-white">Chambres réservées</div>
                    <div class="card-body">
                        <h5 class="card-title">5</h5>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
            <div class="col-lg-3">
        <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header bg-black text-white">Chambres comdamnées</div>
                    <div class="card-body">
                        <h5 class="card-title">5</h5>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
        <!-- Recent Sales -->
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
                <div class="container d-flex align-items-center justify-content-between">
                    <h5 class="card-title">Chambres</h5>
                    <a href="#" id="addChambre"><h3><i class="bi bi-plus-circle iconAdd"></i></h3></a>
                </div>
                <table class="table table-borderless datatable">
                    <thead>
                        <tr>
                            <th scope="col">Numéro</th>
                            <th scope="col">Hébergé</th>
                            <th scope="col">clef de chambre</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {# {% for bail in chambres %}
                    {{dump(chambre)}} #}
                        {# <tr>
                            <th scope="row">{{chambre.numeroChambre}}</th>
                            
                                        {# <td>{{bail.idPersonne.nom}}</td> #}

                            {# <td>{{chambre.numeroClefs}}</td> #}
                            {# <td><span class="badge bg-danger">{{chambre.condamne}}</span></td> #}
                        {# </tr>  #}
                    {# {% endfor %} #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
