{% extends 'base.html.twig' %}

{% block title %}Bail index{% endblock %}

{% block body %}
    <h1>Bail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdBail</th>
                <th>DateEntree</th>
                <th>DateSortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bail in bails %}
            <tr>
                <td>{{ bail.idBail }}</td>
                <td>{{ bail.dateEntree ? bail.dateEntree|date('Y-m-d') : '' }}</td>
                <td>{{ bail.dateSortie ? bail.dateSortie|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_bail_show', {'idBail': bail.idBail}) }}">show</a>
                    <a href="{{ path('app_bail_edit', {'idBail': bail.idBail}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bail_new') }}">Create new</a>
{% endblock %}
