<div class="modal fade" id="modal_attribuer" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header titre">
                <h1 class="modal-title titreHeberge" id="exampleModalLabel">ATTRIBUER UNE CHAMBRE</h1>
            </div>
            <div class="modal-body formAjout">
                {{ form_start(form) }}
                {{ form_row(form.bail.idPersonne, {'id': 'name'} ) }}
                {{ form_row(form.bail.dateEntree,{'id': 'dateEntree'}) }}
                {{ form_row(form.bail.dateSortie,{'id': 'dateSortie'}) }}
            </div>
            <div class="modal-footer endFooter">
                <button type="button" class="btn btn-secondary fermerAttribution" data-bs-dismiss="modal">
                    Fermer
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#valid-formulaire" id="validForm">
                    Valider
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="valid-formulaire" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header titre">
                <h1 class="modal-title titreHeberge" id="exampleModalLabel">Validation</h1>
            </div>
            <div class="modal-body formAjout">
                <div id="recapForm"></div>
            </div>
            <div class="modal-footer endFooter">
                <button type="button" class="btn btn-secondary fermerValidationAttribution" data-bs-dismiss="modal">
                    Fermer
                </button>
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>