 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="{{ path('main') }}">
          <i class="bi bi-grid"></i>
          <span>Accueil</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-toggle="collapse" href="{{ path('app_personne_index') }}">
          <i class="ri-contacts-line"></i>
          <span>Hébergés</span>
        </a>
      </li><!-- End heberge Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-toggle="collapse" href="{{ path('app_facture_index') }}">
          <i class="ri-money-euro-circle-line"></i>
          <span>Factures</span>
        </a>
      </li><!-- End facture Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-toggle="collapse" href="{{ path('app_chambre_index') }}">
          <i class="ri-hotel-bed-line"></i>
          <span>Chambres</span>
        </a>
      </li><!-- End chambres Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-toggle="collapse" href="{{ path('app_avertissement_index') }}">
          <i class="ri-folder-warning-line"></i>
          <span>Incidents / Avertissements</span>
        </a>
      </li><!-- End incidents Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-toggle="collapse" href="#">
          <i class="ri-calendar-check-line"></i>
          <span>Rendez-vous</span>
        </a>
      </li><!-- End rendez-vous Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="ri-file-edit-line"></i>
          <span>Mettre à jours les documents</span>
        </a>
      </li><!-- End documents Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-toggle="collapse" href="#">
          <i class="ri-message-3-line"></i>
          <span>Messagerie</span>
        </a>
      </li>
    </ul>
  </aside><!-- End Sidebar-->
