<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('redirection') }}" id="nav_accueil">
                <i class="ri-home-4-line"></i>
                <span>Accueil</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse"
               href="#" id="nav_heberge">
                <i class="ri-contacts-line"></i>
                    <span>Hébergés</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('app_personne_index') }}">
                        <i class="bi bi-circle"></i><span>Tous</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_personne_indexByBail') }}">
                        <i class="bi bi-circle"></i><span>Ayant un bail</span>
                    </a>
                </li>
            </ul>
        </li><!-- End heberge Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-toggle="collapse"
               href="{{ path('app_facture_index') }}" id="nav_facture">
                <i class="ri-money-euro-circle-line"></i>
                <span>Factures</span>
            </a>
        </li><!-- End facture Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-toggle="collapse"
               href="{{ path('app_chambre_index') }}" id="nav_chambre">
                <i class="ri-hotel-bed-line"></i>
                <span>Chambres</span>
            </a>
        </li><!-- End chambres Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-toggle="collapse"
               href="{{ path('app_incident_index') }}" id="nav_incident">
                <i class="ri-folder-warning-line"></i>
                <span>Incidents / Avertissements</span>
            </a>
        </li><!-- End incidents Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-toggle="collapse" href="#" id="nav_rdv">
                <i class="ri-calendar-check-line"></i>
                <span>Rendez-vous</span>
            </a>
        </li><!-- End rendez-vous Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-toggle="collapse" href="#" id="nav_doc">
                <i class="ri-file-edit-line"></i>
                <span>Mettre à jours les documents</span>
            </a>
        </li><!-- End documents Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-toggle="collapse" href="#">
                <i class="ri-message-3-line"></i>
                <span>Messagerie</span>
            </a>
        </li>
    </ul>
</aside><!-- End Sidebar-->
